# Core functionality - changes here should be rare!
/src/app.py                   @TheCommitStrip
/src/backend/database.py      @TheCommitStrip
/src/backend/routers/auth.py  @TheCommitStrip

# The frontend will need refactored soon to be more object oriented.
/src/static/   @TheCommitStrip
